@import "https://unpkg.com/open-props/easings.min.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
}

body {
  --text-light: #242526;
  --text-dark: #18191a;

  --bg-mid: #3a3b3c;
  --bg-dark: #b0b3b8;
  --bg-light: #e4e6eb;

  background-color: var(--bg-light);
  color: var(--text-light);

  --header-height: 48px;
  --footer-height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: "Signika Negative", sans-serif;
  font-size: 16px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.title {
  font-size: 1.5rem;
  user-select: none;
  position: absolute;
  left: 1rem;
  cursor: pointer;
}

#theme-icon {
  position: absolute;
  right: 4.5rem;
  cursor: pointer;
}

#theme-icon img {
  width: 32px;
  height: 32px;
}

.body {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  margin: 0.5rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  z-index: 10;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 56px;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  animation: flip 2s 1;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

/* crops animations that exceeds one line area */
.line {
  position: relative;
  width: 100%;
  height: 8rem;
  overflow: hidden;
}

/* clear background */
.line a {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}

/* lineup class and keyframes */
.lineUp {
  animation: 1s anim-lineUp ease-in-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(90%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

#nav-icon {
  width: 40px;
  height: 32px;
  position: absolute;
  right: 1rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--text-dark);
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 5px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 26px;
  left: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 29px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #86d993;
}

input:focus + .slider {
  box-shadow: 0 0 1px #86d993;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.modal-content {
  position: fixed;
  top: 4rem;
  right: 1%;
  bottom: 2.5rem;
  width: 12rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.2),
    0 5px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation: slidein 0.3s ease;
  animation: slidein 0.3s ease;
}

@-webkit-keyframes slidein {
  from {
    right: -12rem;
    opacity: 0;
  }
  to {
    right: 1%;
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    right: -12rem;
    opacity: 0;
  }
  to {
    right: 1%;
    opacity: 1;
  }
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: background-color 0.3s, border-radius 0.3s;
}

li img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  cursor: pointer;
}

html {
  block-size: 100%;
  color-scheme: light;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

.theme-toggle {
  --size: 2rem;
  --icon-fill: #18191a;
  --icon-fill-hover: #000;
  background: none;
  border: none;
  padding: 0;
  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;
}

.theme-toggle > svg {
  inline-size: 100%;
  block-size: 100%;
  stroke-linecap: round;
}

[data-theme="dark"] .theme-toggle {
  --icon-fill: #b0b3b8;
  --icon-fill-hover: #fff;
}

@media (hover: none) {
  .theme-toggle {
    --size: 48px;
  }
}

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center center;
}
.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}
.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}
.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}
.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
}
[data-theme="dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}
[data-theme="dark"] .sun-and-moon > .moon > circle {
  transform: translate(-7px);
}

@supports (cx: 1) {
  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transform: translate(0);
    cx: 17;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform 0.5s var(--ease-elastic-3);
  }
  .sun-and-moon > .sun-beams {
    transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
  }
  .sun-and-moon .moon > circle {
    transition: transform 0.25s var(--ease-out-5);
  }
  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx 0.25s var(--ease-out-5);
    }
  }
  [data-theme="dark"] .sun-and-moon > .sun {
    transform: scale(1.75);
    transition-timing-function: var(--ease-3);
    transition-duration: 0.25s;
  }
  [data-theme="dark"] .sun-and-moon > .sun-beams {
    transform: rotate(-25deg);
    transition-duration: 0.15s;
  }
  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transition-delay: 0.25s;
    transition-duration: 0.5s;
  }
}
